body{
    color: #a39cf9;
    background-color:#443d4e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.serviços{
    display: flex;
    justify-content: space-around;
}
.serviço{
    border: 5px #3b264f;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
}
.serviço p:hover{
    cursor: pointer;
    transform: rotate(-2deg);

}